
# Large files excluded from git
content-library/books/*.pdf
performance/wordpress-install/*/dup-installer/*.sql
performance/wordpress-install/*/dup-installer/*.json
*.pdf
performance/wordpress-install/
